
// Global Utility Functions
@import "./neo.functions.string";

// Global Color Functions
@import "./neo.functions.color";

// Global Mixins
@import "./neo.mixins";

// Colors
@import "./neo.colors";

// Default General
// --------------------------------------------------
$font-family-base:                  var(--neo-font-family, inherit) !default;

// Global font path
$font-path: "/dist/fonts" !default;

// The minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries
$screen-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$sides: (top, bottom, left, right);
$spacing-base: var(--neo-spacing-base, 1rem);

$spacing: (
  0: calc(#{$spacing-base} * 0),
  1: calc(#{$spacing-base} * 0.25),
  2: calc(#{$spacing-base} * 0.5),
  3: calc(#{$spacing-base} * 0.75),
  4: calc(#{$spacing-base} * 1),
  5: calc(#{$spacing-base} * 1.25),
  6: calc(#{$spacing-base} * 1.50),
  8: calc(#{$spacing-base} * 2),
  10: calc(#{$spacing-base} * 2.50),
  12: calc(#{$spacing-base} * 3),
  16: calc(#{$spacing-base} * 4),
  20: calc(#{$spacing-base} * 5),
  24: calc(#{$spacing-base} * 6),
  32: calc(#{$spacing-base} * 8),
  40: calc(#{$spacing-base} * 10),
  48: calc(#{$spacing-base} * 12),
  56: calc(#{$spacing-base} * 14),
  64: calc(#{$spacing-base} * 16),
) !default;

@each $space, $value in $spacing {

  .m-#{$space} {
    margin: #{$value} !important;
  }

  .p-#{$space} {
    margin: #{$value} !important;
  }

  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$value} !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$value} !important;
    }
  }
}
