@import "../../../node_modules/rfs/scss";
@import "../../theme/neo.globals";

.wysiwyg {
    --figure-height: 350px;

    display: block;
}

.wysiwyg-native {
    a:not(neo-button) {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ol,
    p,
    ul {
        line-height: 1;
        margin: 0.8em 0;

        &:first-child {
            margin-top: 1px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    h1 {
        @include margin(null, null, map-get($spacing, 6));
    }

    h2 {
        @include margin(null, null, map-get($spacing, 4));
    }

    h3 {
        @include margin(null, null, map-get($spacing, 3));
    }

    h4 {
        @include margin(null, null, map-get($spacing, 2));
    }

    ul,
    ol {
        @include margin(null, null, map-get($spacing, 8));
        padding-left: 40px;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    ul ul,
    ol ul {
        list-style-type: circle;
        margin-left: 1.5em;
    }

    ol ol,
    ul ol {
        list-style-type: lower-latin;
        margin-left: 1.5em;
    }

    li {
        line-height: 1.9;
    }

    p {
        line-height: 1.9;
    }

    hr {
        margin: 2.5em 0;
    }

    figure {
        @include margin(0, 0, map-get($spacing, 10));

        height: var(--figure-height);
        overflow: hidden;
        padding: 0;
        width: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    blockquote {
        @include font-size(24px);
        @include margin(map-get($spacing, 8), 0);
        @include padding(map-get($spacing, 6));

        background: #eee;
        border-left: 4px solid #262626;
        line-height: 1.5;
        font-style: italic;
        text-align: left;

        * {
            margin: 0;
            padding: 0;
        }

        span {
            @include font-size(16px);

            &:before {
                content: '\2014';
                margin-right: 4px;
            }
        }
    }
}
