@import "../../theme/neo.globals";

:host {
    --padding-start: #{map-get($spacing, 4)};
    --padding-end: var(--padding-start);
    --padding-top: #{map-get($spacing, 4)};
    --padding-bottom: var(--padding-top);

    @include padding(var(--padding-top), var(--padding-end), var(--padding-bottom), var(--padding-start));
}

::slotted(p) {
    margin: 0;
}

::slotted(neo-buttons) {
    margin-top: map-get($spacing, 4);
}
