:host {

    // Fonts
    $multiplier: 8px;

    @for $i from 1 through 12 {
        --neo-font-#{$i}: calc(#{$multiplier} * #{$i});
    }
    
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
        line-height: 1.25;
    }

    h1 {
        font-size: var(--neo-font-12);
        margin-bottom: calc(var(--neo-proximty-scale) * 8);
    }

    h2 {
        font-size: var(--neo-font-10);
        margin-bottom: calc(var(--neo-proximty-scale) * 7);
    }
    
    h3 {
        font-size: var(--neo-font-8);
        margin-bottom: calc(var(--neo-proximty-scale) * 6);
    }
    
    h4 {
        font-size: var(--neo-font-6);
        margin-bottom: calc(var(--neo-proximty-scale) * 5);
    }
    
    h5 {
        font-size: var(--neo-font-4);
        margin-bottom: calc(var(--neo-proximty-scale) * 4);
    }

}
